<div id="contraction-section" style="background: #F1F7E7;" class="components-spread-2 pro-font">
    <div class="p-3 row">
        <div class="p-4 col-md-6">
            <h1>Diffuser</h1>
            <p class="components-subtitle">Pressure Recovery and Optimisation</p>
            <p class="components-para">
                The diffuser follows the test section and<strong> aids in smoothly transitioning the flow to the power pod, a step that is essential to optimise the testing velocity of the tunnel</strong>. Flow separation in the diffuser can cause pressure fluctuations and
turbulence in the test section.<br> <br>
To optimise the pressure transition, a gradual angle from the test section to the outlet of the diffuser is essential. The flat-base design eliminates the need for a mount, greatly relieving the build effort. This allows for the base angle to be 0 degrees. 
The roof angle though must be large enough to allow a sufficiently large outlet, but cannot be so large that the pressure recovery is compromised. 
Bradshaw and Mehta recommend that the best pressure recovery is achieved at 10 degrees. 
<br><br>

The outlet dimension of 15 inches brings the area ratio close to the optimal 2.5:1 - 225 square inches diffuser outlet & a 100 square inches inlet from the test section - which also makes the diffuser’s length a desirable ~ 28 inches. 
<br>The dimensions and angles of the diffuser allow for a gradual pressure recovery without adding to the power load. 

            </p>
            
            <p class="components-subtitle">Power Pod</p>
            <p class="components-para">Finally, at the outlet of the diffuser sits the power pod. The power pod for this project is built from an r/c airplane motor and propeller. The conical nose spinner used to secure the prop to the motor 
                is the best possible aerodynamic shape for the clean exit flow of the air passing through the tunnel.  </p>
                The aerodynamic disturbances occuring from the fan itself is avoided in a suck-type-open circuit wind tunnel and is hence the chosen configuration.
        </div>

        <div class="col-md-6">
            <img class="fullsize-img" src="/diffuser-dimension.svg"> 
            <img class="fullsize-img" src="/diffuser-motor.svg"> 

        </div>
    </div>
</div>