<div id="contraction-section" class="components-spread-2 pro-font">
    <div class="p-3 row">
        <div class="p-4 col-md-6">
            <h1>Contraction Section</h1>
            <p class="components-subtitle">Directing Airflow into the Test Section</p>
            <p class="components-para">
                The contraction section <strong> takes steady flow from
                the wind tunnel’s inlet and brings it to the test section</strong>, the main observation component of the wind tunnel. The difference in cross sectional areas of the contraction section’s inlet and the outlet produces higher velocities at the outlet, which is the airflow required for the test section. Through conservation of mass <strong>this component smoothly brings the flow from a lower velocity
                to a higher velocity flow.</strong> 

            </p>
            <img src="/contraction-continuity.svg">
            <p style="font-family: Raleway;">Fig 1.1</p>

            <p class="components-para">
                The <strong>principle of continuity</strong> is the main concept applied in this section of the windtunnel. In fig 1.1, <em>v1</em>’s magnitude is lower than <em>v2</em>’s. Since the same amount of mass is moving through <em>A1</em> and <em>A2</em> at the same time, particles ought to rush quicker through the narrower bit - exactly like placing a finger on a garden hose. Smaller area yields higher velocities. 
            </p>
        </div>

        <div class="col-md-6">
            <img class="fullsize-img" src="/contraction-section-contour.svg"> 

        </div>
    </div>

    <div class="p-3 row">
        <div class="p-4 col-md-6">
            <p class="components-subtitle">Design Research</p>
            <p class="components-para">
                It is desirable to minimize the length of the contraction section as additional length increases boundary layer growth.  However, if a high contraction ratio and angle is used over too short of
                a distance, flow separation will occur. In addition, high contraction ratios require more power from the wind tunnel fan.  The ideal contraction ratio minimizing boundary layer growth and maximizing air velocity is between 6 and 9, as highlighted in Bradshaw and Pankhurst's paper [4].
                The contour shape also aids the flow quality [5]. 


            </p>

            <p class="components-para">
                This makes the area of 576 square inches (24”x24”) yield a contraction ratio of 5.76:1, since the cross-sectional area of the test section is 100 square inches (10” x 10”).  This ratio is close to the ideal recommendation. 
                Furthermore, the dimension of 24” in the inlet of the contraction cone is the smallest possible size to accommodate 150 cell units in a single line for the honeycomb. 

            </p>

        </div>

        <div class="col-md-6">
            <img class="fullsize-img" src="/contraction-section-area.svg">
        </div>


</div>