
<div id="test-section" style="background: #F8F0DF;" class="components-spread-2 pro-font">
    <div class="p-3 row">
        <div class="col-md-6">
            <img class="fullsize-img" src="/test-section.jpg"> 

        </div>
        <div class="p-4 col-md-6">
            <h1>Test Section</h1>
            <p class="components-subtitle">Observation Area</p>

            <p class="components-para">
                The Test Section is the element that everything else in the wind-tunnel is built around. It is the component that houses the object subject to testing. <strong>All aerodynamic observations occur in this section.</strong> <br>To relieve the power dependencies on the motor, the length of the test section must be appropriately optimised. <br> <br> 
According to Bradshaw and Mehta [2] the flow entering the test section will take 0.5 test section diameters. To allow for at least 10 inches of testing space, an optimised length of 15 inches was decided. 
A longer test section would again induce the broadening of the boundary layer and subsequently add the load to the motor in the diffuser. 
<br> <br>
This section holds the mount which is designed to be as aerodynamically invisible as possible, allowing us to view the interactions between the object intended only. 

            </p>

        </div>


    </div>
</div>
