<div id="flow-straightener" style="background: #F3F1F5;" class="components-spread-2 pro-font">
    <div class="p-3 row">
        <div class="p-4 col-md-6">
            <h1>Flow Stabilizer</h1>
            <p class="components-subtitle">Straightening Torroidal Airflow</p>
            <p class="components-para">The flow stabilizer is the first section of the wind tunnel and <strong>is responsible for channeling clean, laminar, and turbulence-free air into the remainder of the tunnel</strong>. It consists of one honeycomb, one mesh, and a settling distance. 
                To reduce the amount of turbulence in the flow, Scheiman and Brooks [10] found that using a honeycomb with a screen produced better results than using a series of screens.
                 A honeycomb with 2 or more screens did produce better flow, but unreasonably added to the boundary layer growth. A growing boundary layer sets the stage for flow separation and turbulence.
                <br> 
                Therefore, this arrangement produces the best flow laminarity for the constraints in length and size of the section. 
                Research-backed flow straightening is achieved in just 8.35 inches, an important optimisation for the overall length of the model

                </p>

                <p class="components-subtitle">Honeycomb</p>
                <p class="components-para">
                    The honeycomb is generally the first component that the flow encounters in an open circuit suck-through tunnel.
                    Its purpose is to reduce large scale turbulence in the flow and remove twist from the incoming air. 
                    <br>
                    A honeycomb is made up of several cells of a minute diameter. While a hexagonal shape is recommended, ours will be circular since we’re using straws to pan out the availability of the project.
                    <br>
                    Bradshaw and Mehta [8] found that the minimum number of recommended cells is roughly 150 cells per inlet diameter: that is for the 24” length, we must fit 150 straws. The straw diameter of 40mm was found to fit this case. 
                    <br> 
                    The 3 cm axial length yields a length to cell diameter ratio between 5 and 6 which is beneficial for low pressure losses and low turbulence generation. 

                </p>

               

        </div>  
        <div class="col-md-6">
            <img class="fullsize-img" src="/flow-stabilizer-components.svg"> 

        </div>    
    
    </div>

    <div class="p-3 row">
       

        <div class="p-4 col-md-6">
            <p class="components-subtitle">Mesh Screen and Settling Distance</p>
            <p class="components-para">
                Screens increase the turbulence reduction through a combination of decreasing the scale of the turbulence and inducing small scale turbulence into the flow.  Small scale turbulence interferes with large scale turbulence in the flow and aids in dissipating turbulence to heat faster.

                The mesh we’ll be using is subject to availability. Coming from a tropical region, mosquito meshes are a household commonality. Meshes in your grills, heaters, thermostat equipment can be used. 
                <br> <br>
                The mesh is attached at about 60mm from the honeycomb in the flow stabilizer upon the recommendation of Barlow et al. [7] that each screen has a spacing of 30 times the mesh size. In our case, the average household mesh has a diameter of 2mm. This yields 2mm x 30 = 60mm.
                
                <br> <br>
                After the air passes through a screen, it turns turbulent for a small length until it stabilises. The air must be allowed to pass untouched for a distance known as the settling distance before it enters the next component - the contraction section. 
                This length is given by Bradshaw and Mehta [8] who recommend a distance of 0.2 times the diameter of the opening. 

            </p>
        </div>
        <div class="col-md-6">
            <img class="fullsize-img" src="/flow-stabilizer-honeycomb.svg"> 
            <img class="fullsize-img" src="/flow-stabilizer-spacing.svg"> 
        </div>  
    </div>    

</div>