<div class="components-spread-1 pro-font">

    <div class="row">
        <div class="col-md-6">
            <img class="fullsize-img" src="/tunnel-components.svg"> 
        </div>

        <div class="components-spread-1-textdiv p-4 col-md-6">
            <h1>Wind Tunnel Components</h1>

            <p>The purpose of windtunnels is to produce feasible circumstances for aerodynamic testing that are centered around the goal of <strong>producing reproducible conditions of turbulence-free airflow</strong>. Getting the cleanest possible airflow into the test section is the primary goal.  
                <br>
                This innocent-seeming task poses immense obstacles with restrictions in each component of the apparatus. Furthermore, besides these intricate technical restrictions, there 
                are many more non-technical. 

                <br>
                This wind tunnel takes on the following general restrictions:
                <ul>
                    <li>Build effort</li>
                    <li>Finances</li>
                    <li>Accessibility of material</li>
                </ul>
                
                             
                

                This project, though, recognises the need to accomodate these restrictions and producing a solution with a unique design. 
                In this document, we will discuss the design we've achieved after accouting for the aerodynamic properties each section fulfills. Their geometry, position, and other properties are carefully considered keeping in mind the other constraints of the project. 
                </p>
        </div>

    </div>

</div>