<div class="components-intro-band pro-font">
    <h1>Research Backed Design</h1>
    <p>The dimensions, shapes, and placement of the windtunnel components are backed with relevant research that directly deals with the optimisation of windtunnels.
        You will find the explanation for each component in the sections below. 
        
        Quick jumplinks:
        <ul>
            <li><a href="#flow-straightener">Flow Stabilizer</a></li>
            <li><a href="#contraction-section">Contraction Section</a></li>
            <li><a href="#test-section">Test Section</a></li>
            <li><a href="#diffuser">Diffuser</a></li>

        </ul>
    </p>

</div>