<div class="container-padding">
    <h2>
        References
    </h2>
    <p style="font-size: 11px; line-height: 24px;">
        [1]  J. Scheiman and J. D. Brooks, "Comparison of Experimental and Theoretical Turbulence 
        Reduction from Screens, Honeycomb, and Honeycomb-Screen Combinations," Journal of 
        Aircraft, pp. 638-43, 1981. <br>
        [2] P. Bradshaw and R. D. Mehta, "Design Rules for Small Low Speed Wind Tunnels," The 
        Aeronautical Journal of the Royal Aeronautical Society, pp. 443-49, 1979. <br>
        [3] Barlow, B. Jewel , W. H. Rae and A. Pope, Low-speed Wind Tunnel Testing, New York: Wiley, 
        1999. <br>
        [4] P. Bradshaw and R. Pankhurst, "The Design of Low-speed Wind Tunnels," Progress in 
        Aerospace Sciences 5, pp. 1-69, 1964. <br>
        [5] T. Hahm and W. Steffen, "Turbulent Wakes in Wind Farm Configuration," T Ü V Nord, Systec 
        Gmbh, Co Kg, Sciences, New York, 2006.
    </p>

</div>
