html, body{
    height: 100%;
    width: 100%;


}

.fullsize-img{
    max-width: 100%;
    max-height: 100%;
    
}

.display-flex{
    display: flex;
}

.pro-font{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
}


.bg-tunnel-image{
    height: 75%;

    background: url(tunnel-background-1.svg);
    background-size:contain;

}


.opening-text-div{
    height: 100%;
    background: rgba(129, 69, 151, 0.5);
}

.opening-text-title{
    font-size: 84px;
    line-height: 100px;

/* identical to box height */


color: #FFFFFF;

text-shadow: 10px 5px 0px #000000;
}

.opening-text-paragraph{
    padding: 3%;
    padding-left: 0%;
    padding-top: 0%;
    margin-top: 2rem;
    font-size: 18px;
    line-height: 35px;
}

/* home spread 2 */
.home-subtitle{
    font-family: Raleway;
    font-variant: small-caps;
    font-size: 18px;
}

/* homw spread3 */

.home-spread-3{
    background: #474747;
    color: #fff;
}

.gifs{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.gif-wrapper{
    text-align: center;
}

.car-gif, .wing-gif{
    max-width: 100%;
    max-height: 100%;

    border: solid 2px #000;
}

.gif-caption{
    margin-top: 10px;
}

/* COMPONENTS PAGE */

.components-spread-1{
    background: #212830;

}

.components-spread-1-textdiv{
    color: #fff;
  
}

.components-intro-band{
    padding: 2rem;
    background: #EBE3B7;
}
.components-intro-band > h1{
    text-shadow: 2px 2px 0px #CDAC00;
}

.components-spread-2{
    padding: 2% 0;
}

.components-subtitle{
    font-size: 18px;
    font-weight: 500;
}

.components-para{
    font-weight: 400;
font-size: 14px;
}


/* Build Page */

.build-intro{
    margin: 4% auto;
}


.frame-build-steps-text{
    background: #5F3E73;
    color: #fff;
    padding-left: 5%;
}

.bor-bot{
    border-bottom: 0.5px solid rgb(131, 131, 131);
}

.build-section-title{
    margin: 1rem 0;
}
.build-section-text{
    padding: 2%;
}

.build-section{
    margin: 3% auto;
    width: 100%;
    padding: 0 7%;
    background: #fff3e6;
}