<div class="p-5 home-spread-3 pro-font">

    <h1>Working Concept</h1>

    <p class="home-spread-3-subtitle home-subtitle">How it works and it's application</p>

    <p>Consider this case of simple relativity where air is present all around - for there
         to be dynamic interaction between an object and the air surrounding it there must be some relative motion. We’re better acquainted with the more common occurrence of the object moving ahead and the air remaining untouched. </p>

    <div class="row gifs">

        <div class="col-md-6 gif-wrapper">
            <img class="car-gif" src="/car.gif"> 
            <p class="gif-caption"><strong>Fig 1.0</strong> Car in motion interacting with the air surrounding its body </p>

        </div>
        <div class="col-md-6 gif-wrapper">
            <img class="wing-gif" src="/airfoil.gif">
            <p class="gif-caption"><strong>Fig 1.1</strong> <em>Stationary Wing</em> interacting with the moving around its mounted position</p>
        </div>
    </div>

    <p>The object in motion interacts with the air around it, instantiating some aerodynamic forces on the surface of interaction. This is the case in <strong>Fig 1.0.</strong>
        It isn’t feasible to study this interaction when it occurs in this manner. 
        
        A simpler method that wouldn’t require you to move the object would be to move the air around the object instead. This method requires the air to be blown onto the stationary object, which is seen in <strong>Fig 1.1.</strong> In theory, both these instances produce the same aerodynamic interaction. The latter allows for a more suitable scientific observation.
        <br>
        This is the working principle of a Wind Tunnel.

        </p>

</div>