<div class="p-5 home-spread-4 pro-font">
    <h1>Project Brief</h1>
    <p>This low-cost aerodynamics kickstarter project is aimed at facilitating great aero ideas that would never leave the drawing board due to 
        the difficult idea-to-prototype cycle for aerospace engineering. This project aims to bridge that difficulty by equipping researchers and budding aerodynamicists who are limited in testing and putting their ideas out there by:
    </p>

    <ul>
        <li> <b>Circumstances</b> - Even for students in research departments with windtunnels, accessing them is not always easy. The 
            project allows students to have a simple and reliable wind-tunnel at their disposal for repitative initial testing.
        </li>
        <li><b>Finances</b> - Most students aren't able to afford the power tools required to build the windtunnels the traditional way. 
            Expensive material, components, and hardware utilities are essential to have when it comes to such projects. 
            This one, however, builds a reliable tunnel out of scrap material (cardboard) and low-cost equipment. 
        </li> 
        <li>
            <b>Opportunity</b> - Many enthusiasts have several prototying ideas that never see enunciation due to the lack of verification apparatus. 
            This windtunnel is a starting point in that journey. Perceiving the flow characteristics of new ideas in an empirical setting can be the basepoint for 
            greater ideas in aeronautics.  
        </li>
    </ul>
</div>